body{
  margin: 0;
}

.navigationBar {
  display: flex;
  align-items: center;
  height: 100px;
  background: #E6FCE6;
  justify-content: flex-end;
  font-family:ropa-sans, Calibri, SansSerif,"Roboto Light";


  a {
    text-decoration: none;
    padding: 20px;
    font-weight: bolder;
    font-size: 25px;
    color: #4b7f55;


  }
}
